* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.screen {
    display: flex;
}

/*............SECCION IZQUIERDA "SIDEBAR" CONTACTOS......*/

.sidebar {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.7px solid rgb(214, 208, 208);
}

.profile {
    height: 0.3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 0.7px solid rgb(214, 208, 208);
}

.chat-f {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-f i {
    margin: 10px;
}

.btn-chat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1.2;
}

.primary-button {
    background-color: #A491D2;
    height: 50%;
    width:80%;
    color: white;
    font-size: 1.3em;
    border: none;
}

.primary-button:hover {
    background-color: #CDC3E6;
}

.primary-button:focus {
    background-color: #828485;
}

.users {
    height: 0.3rem;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border-top: 0.7px solid rgb(214, 208, 208);
}

.thumbnails-profile {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.thumbnails {
    padding: 8px;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnails img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

.thumbnails-profile img {
    width: 50%;
    border-radius: 50%;
}

.contact-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-profile {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-left: 20px;
}

.id_name {
    font-size: large;
    font-weight: bold;
}

.prof-estatus {
    font: 0.8em sans-serif;
    color: #BEC1BB;
}



/*............SECCION DERECHA "SCREEN CHAT" PANTALLA PRINCIPAL DEL CHAT......*/

.screen-chat {
    height: 100vh;
    width: 80vw;
    background-color: #f9faf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-chat img{
    width: 20em;
}

.screen-chat h1{
    height: 1em;
    width: 100%;
    text-align: center;
    font-size: 4em;
    margin: 10px 0 20px 0;
}

.screen-chat p{
    width: 40rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3em;
}
